@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-segment: 'VT323', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans), var(--font-noto-sans-jp), var(--font-noto-sans-kr), var(--font-noto-sans-sc), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), var(--font-noto-sans-jp), var(--font-noto-sans-kr), var(--font-noto-sans-sc), 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}

.font-segment {
  font-family: var(--font-segment);
}
